footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#new-task,
#tasks {
    border-radius: var(--b-radius);
}

#new-task {
    background: linear-gradient(
        90deg,
        var(--primary-dark),
        var(--primary-light)
    );
    padding: 1rem;
}

#new-task form {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
}

#tasks {
    background: var(--neutral-light);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: var(--neutral-dark-2);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .75);
}

.task-description {
    flex-grow: 2;
}

div.buttons-tasks {
    display: flex;
    align-items: center;
    gap: 24px;
}

#reset-name,
#reset-tasks {
    cursor: pointer;
}

/* STATUS DAS TAREFAS */
.done {
    opacity: 0.85;
}

.done > .task-description,
.done > .task-validity {
    text-decoration: line-through;
}

.overdue {
    padding-left: 2.5rem;
}

.overdue::before {
    content: "!";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: absolute;
    left: 0;
    background: red;
    width: 2rem;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* ENTRADAS DE INFO */
#description-entry {
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding: 0.2rem 0.5rem;
    width: 200px;
}

#clear-btn,
#create-btn {
    border-radius: 0.5rem;
    padding: 0.2rem;
    border: black 2px solid;
}

#clear-btn,
#create-btn {
    transition: all 75ms var(--ease-in-out);
}

#clear-btn {
    background: rgb(255, 78, 78);
}

#create-btn {
    background: rgb(0, 171, 0);
}

#clear-btn:hover,
#create-btn:hover {
    filter: brightness(1.3);
}

#clear-btn:active,
#create-btn:active {
    transform: scale(0.95);
}

#validity-entry {
    background: none;
    border: none;
    outline: none;
    color: var(--neutral-light);
}

/* BOTÕES DAS TASKS */
.svg-btn {
    transition: 0.3s var(--elastic-bezier);
    fill: currentColor;
    min-width: 24px;
    height: 24px;
}

.svg-btn:hover {
    cursor: pointer;
}

.edit-icon:hover {
    fill: rgb(0, 171, 0);
    scale: 1.4;
    rotate: 10deg;
}

.delete-icon:hover {
    fill: rgb(255, 78, 78);
    rotate: 180deg;
    scale: 1.25;
}
