#blur-box {
    position: absolute;
    top: 0; left: 0;
    height: 100dvh; width: 100vw;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center; justify-content: center;
}

#blur-box * {
    font-family: Outfit, sans-serif;
}

#pop-up {
    width: min-content; height: min-content;
    padding: 1.5rem 2rem;
    background: var(--neutral-dark-1);
    border-radius: var(--b-radius);
    color: var(--neutral-light);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#pop-up-date-input {
    background: none;
    outline: none;
    border: none;
    color: var(--neutral-light);
    width: min-content;
}

#sendAction-btn,
#cancel-btn {
    margin-inline: 20%;
    padding: 0.1rem;
    border-radius: calc(var(--b-radius)/2);
    border: 2px solid var(--neutral-dark-2);
    transition: all 75ms var(--ease-in-out);
}

#sendAction-btn:hover,
#cancel-btn:hover {
    filter: brightness(1.3);
}

#sendAction-btn:active,
#cancel-btn:active {
    transform: scale(.95);
}

#sendAction-btn {
    background: rgb(0, 171, 0);
}

#cancel-btn {
    background: rgb(255, 78, 78);
}

#pop-up-txt-input {
    padding: .2rem .5rem;
    border-radius: calc(var(--b-radius)/2);
    outline: none;
    border: 2px solid var(--neutral-dark-2);
}