.outfit {
    font-family: Outfit, sans-serif;
}

.light-font {
    color: var(--neutral-light);
}

.dark-font {
    color: var(--neutral-dark-2);
}

.colored-font {
    color: var(--primary-light);
}